@CHARSET "UTF-8";

.body-wrapper {
  min-height: 530px;
}

.footer {
  font-size: 11px;
  color: #9d9d9d;
  border-top: 1px solid #e1e1e1;
  padding-top: 6px;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}

.login-form {
  font: 16px/2em Lato, serif;
  margin: 100px auto;
  max-width: 400px;
}

form[role=login] {
  color: #5d5d5d;
  background: #f2f2f2;
  padding: 40px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

form[role=login] h4 {
  display: block;
  margin: 0 auto;
  margin-bottom: 35px;
  font-size: 24px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
}

.error-prompt {
  font-size: 10px;
  font-weight: bold;
  color: #b90000;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font: 15px/1.3 'Open Sans', sans-serif;
  color: #5e5b64;
  /*text-align:center;*/
  /*background: url(../images/bg.png) no-repeat center center fixed;*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*a, a:visited {*/
  /*outline: none;*/
  /*color: #389dc1;*/
/*}*/

a:hover {
  text-decoration: none;
}

section, footer, header, aside, nav {
  display: block;
}

.st-sort-ascent:before{
  content: '\25B2';
}

.st-sort-descent:before{
  content: '\25BC';
}

/*-------------------------
	The menu
--------------------------*/

/*.navbar-custom {*/
  /*!*margin:60px auto 45px;*!*/
  /*background-color: #5597b4;*/
  /*box-shadow: 0 1px 1px #ccc;*/
  /*border-radius: 2px;*/
/*}*/

/*.navbar-custom a {*/
  /*display: inline-block;*/
  /*padding: 18px 30px;*/
  /*color: #fff !important;*/
  /*font-weight: bold;*/
  /*font-size: 16px;*/
  /*text-decoration: none !important;*/
  /*line-height: 1;*/
  /*!*text-transform: uppercase;*!*/
  /*background-color: transparent;*/

  /*-webkit-transition: background-color 0.25s;*/
  /*-moz-transition: background-color 0.25s;*/
  /*transition: background-color 0.25s;*/
/*}*/

/*.active {*/
  /*background-color: #e35885;*/
/*}*/

/*nav {*/
  /*display: inline-block;*/
  /*margin: 60px auto 45px;*/
  /*background-color: #5597b4;*/
  /*box-shadow: 0 1px 1px #ccc;*/
  /*border-radius: 2px;*/
/*}*/

/*.dropdown-menu{*/
  /*background-color: #5597b4;*/
/*}*/

/*nav a {*/
  /*display: inline-block;*/
  /*padding: 18px 30px;*/
  /*color: #fff !important;*/
  /*font-weight: bold;*/
  /*font-size: 16px;*/
  /*text-decoration: none !important;*/
  /*line-height: 1;*/
  /*text-transform: uppercase;*/
  /*background-color: transparent;*/

  /*-webkit-transition: background-color 0.25s;*/
  /*-moz-transition: background-color 0.25s;*/
  /*transition: background-color 0.25s;*/
/*}*/

/*nav a:first-child {*/
  /*border-radius: 2px 0 0 2px;*/
/*}*/

/*nav a:last-child {*/
  /*border-radius: 0 2px 2px 0;*/
/*}*/

/*nav.home .home,*/
/*nav.projects .projects,*/
/*nav.services .services,*/
/*nav.contact .contact{*/
/*background-color:#e35885;*/
/*}*/

/*p{*/
/*font-size:22px;*/
/*font-weight:bold;*/
/*color:#7d9098;*/
/*}*/

/*p b{*/
/*color:#ffffff;*/
/*display:inline-block;*/
/*padding:5px 10px;*/
/*background-color:#c4d7e0;*/
/*border-radius:2px;*/
/*text-transform:uppercase;*/
/*font-size:18px;*/
/*}*/
/*.navbar-custom > .dropdown-toggle li a:focus,*/
/*.navbar-custom > .dropdown-toggle li a:hover,*/
/*.navbar-custom li  a:focus,*/
/*.navbar-custom li a:hover {*/
  /*background-color: #e35885;*/
/*}*/

