<div class="container">
  <div class="row">
    <fieldset>
      <legend>Channel Details</legend>

      <form class="form-horizontal" name="channelForm" novalidate>
        <div class="form-group">
          <label for="channelName" class="col-sm-2 control-label">Channel Name:</label>
          <div class="col-sm-7">
            <input type="text" class="form-control" id="channelName" name="channelName"
                   ng-model="channel.channel_name"
                   placeholder="Enter channel name" required>
            <div ng-show="channelForm.$submitted || channelForm.channelName.$touched"
                 ng-messages="channelForm.channelName.$error" class="error-prompt" role="alert">
              <div ng-message="required">Channel name is required.</div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="channelType" class="col-sm-2 control-label">Channel Type:</label>
          <div class="col-sm-7">
            <select class="form-control" id="channelType" name="channelType"
                    ng-model="channel.channel_type" required>
              <option value="">-- Select channel type --</option>
              <option value="1">Mobile Money Channel</option>
              <option value="2">Bank Channel</option>
              <option value="3">Email Channel</option>
            </select>
            <div ng-show="channelForm.$submitted || channelForm.channelType.$touched"
                 ng-messages="channelForm.channelType.$error" class="error-prompt" role="alert">
              <div ng-message="required">Channel type is required.</div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="channelEndpoint" class="col-sm-2 control-label">Channel Endpoint:</label>
          <div class="col-sm-7">
            <input type="url" class="form-control" id="channelEndpoint" name="channelEndpoint"
                   ng-model="channel.channel_endpoint"
                   placeholder="Channel endpoint" required>
            <div ng-show="channelForm.$submitted || channelForm.channelEndpoint.$touched"
                 ng-messages="channelForm.channelEndpoint.$error" class="error-prompt" role="alert">
              <div ng-message="required">Channel endpoint is required.</div>
              <div ng-message="url">Not a valid channel endpoint.</div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
              <label>
                <input type="checkbox" id="isCallback" name="isCallback"
                       ng-model="channel.callback" required> Is callback?
              </label>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
              <label>
                <input type="checkbox" id="isActive" name="isActive"
                       ng-model="channel.active"> Is active?
              </label>
            </div>
          </div>
        </div>
        <section ng-show="!isNew">
          <div class="form-group">
            <label for="dateCreated" class="col-sm-2 control-label">Date Created:</label>
            <div class="col-sm-7">
              <input type="url" class="form-control" id="dateCreated" name="dateCreated"
                     ng-model="channel.date_created" ng-readonly="true"
                     placeholder="Channel endpoint">
            </div>
          </div>
          <div class="form-group">
            <label for="channelEndpoint" class="col-sm-2 control-label">Last Modified:</label>
            <div class="col-sm-7">
              <input type="url" class="form-control" id="lastModified" name="lastModified"
                     ng-model="channel.last_modified" ng-readonly="true"
                     placeholder="Channel endpoint">
            </div>
          </div>
        </section>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-7">
            <div class="pull-right">
              <button type="button" class="btn btn-danger">
                <i class="fa fa-close"></i>&nbsp;Cancel
              </button>
              <button type="submit" class="btn btn-success" ng-click="createChannel()">
                <i class="fa fa-save"></i>&nbsp;Save Channel
              </button>
            </div>
          </div>
        </div>
      </form>
    </fieldset>
  </div>
</div>
