<div class="container">
  <div class="row">
    <div class="col-md-12">
      <fieldset>
        <legend>Channel Details</legend>
        <div class="row">
          <div class="col-md-3 pull-right">
            <a href="#/channel-details" class="btn btn-sm btn-primary pull-right">
              <i class="fa fa-plus"></i>
              &nbsp;Add New Channel
            </a>
          </div>
        </div>
        <!--<div class="table-responsive">-->
          <table st-table="channelCol" st-safe-src="channels" class="table table-condensed table-striped table-hover">
            <thead>
            <tr>
              <th st-sort="id">ID</th>
              <th st-sort="channel_name">Channel Name</th>
              <th st-sort="channel_type">Payment Type</th>
              <th st-sort="channel_endpoint">Channel Endpoint</th>
              <th st-sort="date_created">Date Created</th>
              <th st-sort="callback">Is callback?</th>
              <th st-sort="active">Is active?</th>
              <th>Action</th>
            </tr>
            <tr>
              <th colspan="12"><input st-search="" class="input-sm form-control" placeholder="Enter text to search ..." type="text"/></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="channel in channelCol">
              <td>{{channel.id}}</td>
              <td>{{channel.channel_name}}</td>
              <td>{{channel.channel_type}}</td>
              <td>{{channel.channel_endpoint}}</td>
              <td>{{channel.date_created}}</td>
              <td>
                <span ng-class="{'label label-primary' : channel.callback, 'label label-info' : !channel.callback}">
                {{channel.callback}}
                </span>
              </td>
              <td>
                <span ng-class="{'label label-success' : channel.active, 'label label-danger' : !channel.active}">
                {{channel.active}}
                </span>
              </td>
              <td>
                <div class="row">
                    <a href="#/channel-details/{{channel.id}}" class="text-info" ng-click=""
                       uib-tooltip="View channel Details">
                      <i class="fa fa-search-plus"></i>
                    </a>
                </div>
              </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
              <td colspan="12" class="text-center">
                <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7"></div>
              </td>
            </tr>
            </tfoot>
          </table>
        <!--</div>-->
      </fieldset>
    </div>
  </div>
</div>
