<section class="container">
  <section class="login-form">
    <form role="login" name="loginForm" novalidate>
      <h4>Payment<strong>Portal</strong> Login</h4>

      <div class="form-group">
        <input type="text" id="username" name="username" ng-model="credentials.username"
               placeholder="Username" required class="form-control"/>
        <div ng-show="loginForm.$submitted || loginForm.username.$touched"
             ng-messages="loginForm.username.$error" class="error-prompt" role="alert">
          <div ng-message="required">Username is required.</div>
        </div>
      </div>

      <div class="form-group">
        <input type="password" id="password" name="password" ng-model="credentials.password"
               placeholder="Password" required class="form-control"/>
        <div ng-show="loginForm.$submitted || loginForm.password.$touched"
             ng-messages="loginForm.password.$error" class="error-prompt" role="alert">
          <div ng-message="required">Password is required.</div>
        </div>
      </div>

      <button type="submit" name="btnLogin" class="btn btn-lg btn-primary btn-block" ng-click="loginUser(credentials)">
        Sign in
      </button>
    </form>
  </section>
</section>
