<div class="container">
  <div class="row">
    <div class="col-md-12">
      <fieldset>
        <legend>Payment Details</legend>

        <table st-table="paymentCol" st-safe-src="payments" class="table table-condensed table-hover">
          <thead>
          <tr>
            <th>ID</th>
            <th>Date Created</th>
            <th>Payment Type</th>
            <th>Channel Name</th>
            <th>Entity</th>
            <th>Entity ID</th>
            <th>Account</th>
            <th>Amount</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="payment in paymentCol">
            <td>{{payment.id}}</td>
            <td>{{payment.date_created}}</td>
            <td>
                <span ng-class="{'label label-primary' : payment.payment_type==='OUTGOING',
                  'label label-info' : payment.payment_type ==='INCOMING'}">
                {{payment.payment_type}}
                </span>
            </td>
            <td>{{payment.channel_name}}</td>
            <td>{{payment.entity}}</td>
            <td>{{payment.entity_id}}</td>
            <td>{{payment.payment_account}}</td>
            <td>{{payment.transaction_amount}}</td>
            <td>
              <span ng-class="{'label label-warning' : payment.payment_status==='PAYMENT_PENDING',
                  'label label-default' : payment.payment_status ==='PAYMENT_ON_HOLD'}">
              {{payment.payment_status}}
              </span>
            </td>
            <td>
              <div class="row">
                <div class="col-md-2">
                  <a href="#/payment-details/{{payment.id}}" class="text-info" ng-click=""
                     uib-tooltip="View Details">
                    <i class="fa fa-search-plus"></i>
                  </a>
                </div>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </fieldset>
    </div>
  </div>
</div>
